version: "3.9"

services:
  pihole:
    image: pihole/pihole:latest
    container_name: pihole
    hostname: pihole
    environment:
      TZ: "America/Sao_Paulo"
      WEBPASSWORD: ${PIHOLE_PASSWORD}
      DNSMASQ_LISTENING: all
    volumes:
      - ../../../storage/pihole/pihole:/etc/pihole
      - ../../../storage/pihole/dnsmasq.d:/etc/dnsmasq.d
    ports:
      - "5354:53/tcp"
      - "5354:53/udp"
      - "8081:80"
    networks:
      - dns_net
      - internal_net
    restart: unless-stopped

networks:
  dns_net:
    external: true
  internal_net:
    external: true
